<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
<body>
<style>
	h1{
	padding-top:40px;
	padding-left:20px;
	padding-bottom:20px;
	}
	form{
	padding-left:20px;
	}
	textarea{
	padding-left:20px;
	}
</style>
	<h1><i>Register case:</i></h1>

<form id="usrform">
  Name: <input type="text" name="usrname">
  <input type="submit">
</form>
<br>
<textarea rows="4" cols="50" name="comment" form="usrform">
Enter text here...</textarea>

<div class="wrapper">
	<video autoplay loop muted>
		<source src="" type="video/mp4">
	</video>
</div>
</body>
</html>