<!DOCTYPE html>
<html>
<head>
<title>Station</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<style>
	body{
	background-image: url("https://i2.wp.com/www.socialnews.xyz/wp-content/uploads/2020/05/27/Netflix-s-the-last-days-of-american-crime-movie-HD-Stills-5.jpg?quality=80&zoom=1&ssl=1");
	background-repeat:no-repeat;
	background-size:cover;
	}
	h2{
	color:white;
	}
	.jumbotron{
	background-color:gray;
	}
</style>

<div class="container">
<header class="jumbotron">
<div class="container">
	<h1>Police Station</h1>
	    <p>May we help you!!</p>
	    </div>
	    </div>
	    <div class="container">
	<h2>What you want to do?</h2>
		<button type="button" class="btn btn-danger btn-lg"><a href="/Register">Register a case</a></button>
		<br>
		<button type="button" class="btn btn-success btn-lg">View All Cases</button><br>
		<button type="button" class="btn btn-primary btn-lg">Acts</button><br>
		<button type="button" class="btn btn-warning btn-lg">Help Center</button>
		</div>
	</div>
</body>
</html>